<h1>Weather results for <%= @address %> </h1>

<dl>
<dt>Current Temperature</dt>
    <div> <%= @curr_temp %> </div>
<p></p>

<dt>Current Summary</dt>
    <div> <%= @curr_summary %> </div>
</dl>

<dt>Outlook for next sixty minutes</dt>
    <div> <%= @outlook_hour %> </div>
</dl>

<dt>Outlook for next several hours</dt>
    <div> <%= @outlook_hours %> </div>
</dl>

<dt>Outlook for next several days</dt>
    <div> <%= @outlook_days %> </div>
</dl>
